Sentinel-UpdateWatchlistFromQuery/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "Azure Sentinel Connection": {
        "type": "string",
        "defaultValue": "azuresentinel-1"
      },
      "Azure Sentinel Display Connection": {
        "type": "string",
        "defaultValue": "vabruwer@microsoft.com"
      },
      "Azure Monitor Connection": {
        "type": "string",
        "defaultValue": "azuremonitorlogs"
      },
      "Azure Monitor Connection DisplayName": {
        "type": "string",
        "defaultValue": "vabruwer@microsoft.com"
      },
      "Watchlist Name" :{
        "type": "string",
        "defaultValue": "Watchlist Display name"
      },
      "LogicAppLocation": {
        "type": "string",
        "minLength": 1,
        "allowedValues": [
          "[resourceGroup().location]",
          "eastasia",
          "southeastasia",
          "centralus",
          "eastus",
          "eastus2",
          "westus",
          "northcentralus",
          "southcentralus",
          "northeurope",
          "westeurope",
          "japanwest",
          "japaneast",
          "brazilsouth",
          "australiaeast",
          "australiasoutheast",
          "southindia",
          "centralindia",
          "westindia",
          "jioindiawest",
          "canadacentral",
          "canadaeast",
          "uksouth",
          "ukwest",
          "westcentralus",
          "westus2",
          "koreacentral",
          "koreasouth",
          "francecentral",
          "francesouth",
          "uaecentral",
          "uaenorth",
          "southafricanorth",
          "southafricawest",
          "switzerlandnorth",
          "switzerlandwest",
          "germanynorth",
          "germanywestcentral",
          "norwaywest",
          "norwayeast",
          "brazilsoutheast",
          "westus3"
        ],
        "defaultValue": "westeurope"
      },
      "LogicAppName": {
        "type": "string",
        "minLength": 1,
        "defaultValue": "sentinel-update-watchlist-from-query"
      }
    },
    "variables": {},
    "resources": [
      {
        "properties": {
          "state": "Enabled",
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
              "For_each": {
                "type": "Foreach",
                "foreach": "@body('Run_query_and_list_results')?['value']",
                "actions": {
                  "Watchlists_-_Add_a_new_watchlist_item": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "method": "put",
                      "body": {
                        "UserDisplayName": "@items('For_each')?['UserDisplayName']",
                        "UserPrincipalName": "@items('For_each')?['UserPrincipalName']"
                      },
                      "path": "/Watchlists/subscriptions/@{encodeURIComponent('')}/resourceGroups/@{encodeURIComponent('')}/workspaces/@{encodeURIComponent('')}/watchlists/@{encodeURIComponent('[parameters('Watchlist Name')]')}/watchlistItem"
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Run_query_and_list_results": [
                    "Succeeded"
                  ]
                }
              },
              "Run_query_and_list_results": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                  "body": "SigninLogs \n| extend errorCode = tostring(Status.errorCode)\n| where errorCode <> 0\n| distinct UserPrincipalName, UserDisplayName",
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/queryData",
                  "queries": {
                    "resourcegroups": "",
                    "resourcename": "",
                    "resourcetype": "",
                    "subscriptions": "",
                    "timerange": "Last 24 hours"
                  }
                }
              }
            },
            "parameters": {
              "$connections": {
                "defaultValue": {},
                "type": "Object"
              }
            },
            "triggers": {
              "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                  "frequency": "Hour",
                  "interval": 4
                },
                "evaluatedRecurrence": {
                  "frequency": "Hour",
                  "interval": 4
                }
              }
            },
            "contentVersion": "1.0.0.0",
            "outputs": {}
          },
          "parameters": {
            "$connections": {
              "value": {
                "azuresentinel": {
                  "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuresentinel')]",
                  "connectionId": "[resourceId('Microsoft.Web/connections', parameters('Azure Sentinel Connection'))]",
                  "connectionName": "[parameters('Azure Sentinel Connection')]"
                },
                "azuremonitorlogs": {
                  "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuremonitorlogs')]",
                  "connectionId": "[resourceId('Microsoft.Web/connections', parameters('Azure Monitor Connection'))]",
                  "connectionName": "[parameters('Azure Monitor Connection')]"
                }
              }
            }
          }
        },
        "name": "[parameters('LogicAppName')]",
        "type": "Microsoft.Logic/workflows",
        "location": "[parameters('LogicAppLocation')]",
        "tags": {
          "Department": "Contoso",
          "displayName": "LogicApp"
        },
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "[resourceId('Microsoft.Web/connections', parameters('Azure Sentinel Connection'))]",
          "[resourceId('Microsoft.Web/connections', parameters('Azure Monitor Connection'))]"
        ]
      },
      {
        "type": "MICROSOFT.WEB/CONNECTIONS",
        "apiVersion": "2018-07-01-preview",
        "name": "[parameters('Azure Sentinel Connection')]",
        "location": "westeurope",
        "properties": {
          "api": {
            "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuresentinel')]"
          },
          "displayName": "[parameters('Azure Sentinel Display Connection')]"
        }
      },
      {
        "type": "MICROSOFT.WEB/CONNECTIONS",
        "apiVersion": "2018-07-01-preview",
        "name": "[parameters('Azure Monitor Connection')]",
        "location": "westeurope",
        "properties": {
          "api": {
            "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuremonitorlogs')]"
          },
          "displayName": "[parameters('Azure Monitor Connection DisplayName')]"
        }
      }
    ],
    "outputs": {}
  }