Sentinel-UpdateWatchlistFromQuery/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "azuremonitorlogs_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azuremonitorlogs"
    },
    "azuremonitorlogs_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "AzMon Connection"
    },
    "azuresentinel_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azuresentinel-1"
    },
    "azuresentinel_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Sentinel Connection"
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "jioindiawest",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwaywest",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "defaultValue": "westeurope"
    },
    "LogicAppName": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "sentinel-update-watchlist-from-query"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_Failed_Logon_Users": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "SigninLogs \n| extend errorCode = tostring(Status.errorCode)\n| where errorCode <> 0\n| distinct UserPrincipalName, UserDisplayName",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "",
                  "resourcegroups": "",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "",
                  "timerange": "Last 12 hours"
                }
              },
              "runAfter": {
                "Set_Workspace_ID": [
                  "Succeeded"
                ]
              }
            },
            "Set_Resource_Group": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ResourceGroup",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {
                "Set_SubscriptionID": [
                  "Succeeded"
                ]
              }
            },
            "Set_SubscriptionID": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "SubscriptionID",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {
                "Set_Watchlist_Alias": [
                  "Succeeded"
                ]
              }
            },
            "Set_Watchlist_Alias": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "WatchListAlias",
                    "type": "string",
                    "value": "AADFailedLogonUsers"
                  }
                ]
              },
              "runAfter": {}
            },
            "Set_Workspace_ID": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "WorkspaceID",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {
                "Set_Resource_Group": [
                  "Succeeded"
                ]
              }
            },
            "Step_through_users": {
              "type": "Foreach",
              "foreach": "@body('Get_Failed_Logon_Users')?['value']",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('Do_they_exist_in_the_watchlist')?['value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Watchlists_-_Add_a_new_watchlist_item": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "UserDisplayName": "@items('Step_through_users')?['UserDisplayName']",
                          "UserPrincipalName": "@items('Step_through_users')?['UserPrincipalName']"
                        },
                        "path": "/Watchlists/subscriptions/@{encodeURIComponent(variables('SubscriptionID'))}/resourceGroups/@{encodeURIComponent(variables('ResourceGroup'))}/workspaces/@{encodeURIComponent(variables('WorkspaceID'))}/watchlists/@{encodeURIComponent(variables('WatchListAlias'))}/watchlistItem"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Do_they_exist_in_the_watchlist": [
                      "Succeeded"
                    ]
                  }
                },
                "Do_they_exist_in_the_watchlist": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": "_GetWatchlist('@{variables('WatchListAlias')}')\n| where UserPrincipalName == \"@{items('Step_through_users')?['UserPrincipalName']}\"",
                    "path": "/queryData",
                    "queries": {
                      "subscriptions": "",
                      "resourcegroups": "",
                      "resourcetype": "Log Analytics Workspace",
                      "resourcename": "",
                      "timerange": "Last 12 hours"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Get_Failed_Logon_Users": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": 12
              },
              "evaluatedRecurrence": {
                "frequency": "Hour",
                "interval": 12
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuremonitorlogs')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuremonitorlogs_1_Connection_Name'))]",
                "connectionName": "[parameters('azuremonitorlogs_1_Connection_Name')]"
              },
              "azuresentinel": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuresentinel')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_1_Connection_Name'))]",
                "connectionName": "[parameters('azuresentinel_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "[parameters('LogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azuremonitorlogs_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azuremonitorlogs_1_Connection_Name')]",
      "location": "westeurope",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuremonitorlogs')]"
        },
        "displayName": "[parameters('azuremonitorlogs_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azuresentinel_1_Connection_Name')]",
      "location": "westeurope",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuresentinel')]"
        },
        "displayName": "[parameters('azuresentinel_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}