UpdateManagement/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "azuremonitorlogs_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azuremonitorlogs"
    },
    "azuremonitorlogs_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "yourname@company.com"
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365-1"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "yourname@company.com"
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "defaultValue": "westeurope"
    },
    "LogicAppName": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "UpdateManagement-Report"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Create_HTML_table": {
              "type": "Table",
              "inputs": {
                "from": "@body('Run_query_and_list_results')?['value']",
                "format": "HTML"
              },
              "runAfter": {
                "Run_query_and_list_results": [
                  "Succeeded"
                ]
              }
            },
            "Run_query_and_list_results": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "Update\n| where UpdateState == \"Needed\" and Approved == \"true\" and TimeGenerated > ago(24h)\n| summarize dcount(Title) by Title, Computer, Classification, RebootBehavior  \n| project Title, Classification, Computer, RebootBehavior \n| order by Classification asc, Title asc, Computer asc",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "2a165113-1848-4c2b-9e1d-16aa48ac9765",
                  "resourcegroups": "NorthWind-vb",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "nw-la-demo",
                  "timerange": "Set in query"
                }
              },
              "runAfter": {}
            },
            "Send_an_email_(V2)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "To": "vanessa.bruwer@microsoft.com",
                  "Subject": "Update Management Daily report - @{utcNow()}",
                  "Body": "<p>Here is your daily report of new updates needed in the last 24 hours:<br>\n<br>\n@{body('Create_HTML_table')}<br>\n<br>\n</p>"
                },
                "path": "/v2/Mail"
              },
              "runAfter": {
                "Create_HTML_table": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                  ],
                  "hours": [
                    "6"
                  ],
                  "minutes": [
                    0
                  ]
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuremonitorlogs')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuremonitorlogs_1_Connection_Name'))]",
                "connectionName": "[parameters('azuremonitorlogs_1_Connection_Name')]"
              },
              "office365_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "[parameters('LogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azuremonitorlogs_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azuremonitorlogs_1_Connection_Name')]",
      "location": "westeurope",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'azuremonitorlogs')]"
        },
        "displayName": "[parameters('azuremonitorlogs_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "westeurope",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'westeurope', '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}